    <!-- Load Scripts -->
    {{#each conf.scripts}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}

    {{#if conf.typekit}}
    <!-- Load Scripts -->
    <script type="text/javascript" src="//use.typekit.net/{{{conf.typekit}}}.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{/if}}

    <!-- Load Config and Scripts -->
    <script>

      // Allow easy access to JSON.stringify()'d data.
      {{#each json}}
        define('{{@key}}', function (require) {
          return {{{this}}};
        });
      {{/each}}

      // Print conf variables
      define('conf', function(require) {
        return {{{stringify conf}}};
      });

      define('data', function(require) {
        return {{{stringify data}}};
      });

      // Load Main Javascript
      require(['main']);

    </script>
  </body>
</html>
