    </main>
    <footer>
      <div class="grid">
        <div class="block block-lg-4">
          <h3>Mission</h3>
          <p>{{{conf.description}}}</p>
        </div>
        <div class="block block-lg-4">
          <h3>Links</h3>
          <nav>
            <a href="#">Blog</a>
            <a href="#">Press</a>
            <a href="#">Careers</a>
            <a href="#">Store</a>
          </nav>
        </div>
      </div>

      <div class="links-social text-centered">
        <a href="#"><span class="ion ion-social-facebook"></a>
        <a href="#"><span class="ion ion-social-twitter"></a>
        <a href="#"><span class="ion ion-social-vimeo"></a>
        <a href="#"><span class="ion ion-social-instagram"></a>
      </div>

      <br>
      <div class="text-centered">
        <p class="meta">All Content &copy;2014 by The Action Committee • <a href="#">Privacy Policy</a></p>
      </div>
    </footer>

    <!-- Load Scripts -->
    {{#each conf.scripts}}
    <script src="{{path}}" type="text/javascript"></script>
    {{/each}}

    {{#if conf.typekit}}
    <!-- Load Scripts -->
    <script type="text/javascript" src="//use.typekit.net/{{{conf.typekit}}}.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{/if}}

    <!-- Load Config and Scripts -->
    <script>

      // Allow easy access to JSON.stringify()'d data.
      {{#each json}}
        define('{{@key}}', function (require) {
          return {{{this}}};
        });
      {{/each}}

      // Print conf variables
      define('conf', function(require) {
        return {{{stringify conf}}};
      });

      define('data', function(require) {
        return {{{stringify data}}};
      });

      // Load Main Javascript
      require(['main']);

    </script>
  </body>
</html>
